syntax: glob
*.orig
*.swp
*.pyc
*.DS_Store
*~
*.log
.coverage
.tox
nosetests.xml
build
src/rospkg.egg-info
syntax: regexp
(target|build|dist)/.*
MANIFEST

# Executables
*.exe
*.out
*.app

# Autosaved files
*~

# IDEs
CMakeLists.txt.user
.project
.cproject
.settings
.pydevproject

# ROS
bin
build
lib
msg_gen
srv_gen
Makefile
CMakeCache.txt
cmake
cmake_install.cmake
gtest
catkin_generated
devel
test_results
CTestTestfile.cmake
CMakeFiles
catkin
